/* THIS FILE IS FOR STYLING OF THE EVENTS-PAGE */

@use 'variables' as var;
@use 'components';

/* THIS IS STYLING FOR THE HEADING PICTURE */

.events {
  background-color: #fbfbfa;
  display: flex;
  flex-direction: column;

  &__hero {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__hero-text {
    position: absolute;
    color: #f3543b;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    font-family: var.$font-main;
    font-size: 2.5rem;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

/* THIS IS STYLING FOR THE POPULAR EVENTS-SECTION */

.events__popular {
  display: flex;
  flex-direction: column;

  &-headline {
    font-size: 2rem;
    font-family: var.$font-main;
    font-weight: bold;
    color: #821818;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.events__popular-list {
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem;

  overflow-x: auto;
  padding-bottom: 1rem;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

/* STYLING FOR THE EVENT CARDS, BOTH POPULAR & UPCOMING */
.event-card {
  display: flex;
  flex: 0 0 100%;
  max-width: 350px;
  flex-direction: column;
  background-color: #2a1c1a;
  border: solid grey 1px;
  border-radius: 0.5rem;
  overflow: hidden;

  &__headline {
    font-family: var.$font-main;
    color: #821818;
    text-align: center;
    padding: 0px;
    margin: 1rem 0 0 0;
  }

  &__image {
    display: block;
    width: 85%;
    margin: 1rem auto;
    object-fit: cover;
    height: 12rem;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 70%;
    margin-left: -1.25rem;
  }

  &__button {
    width: 30%;
    height: 2.5rem;
    flex-shrink: 0;
    margin-left: -0.7rem;
    margin-top: 3rem;
    color: white;
    background-color: #821818;
    font-size: 1rem;
    cursor: pointer;
  }
}

.events__moreBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 0;
  text-align: center;
}

/* THIS IS STYLING FOR THE UPCOMING-EVENTS SECTION */
.events__upcoming {
  display: flex;
  flex-direction: column;

  &-headline {
    font-size: 2rem;
    font-family: var.$font-main;
    font-weight: bold;
    color: #821818;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.events__upcoming-list {
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem;

  overflow-x: auto;
  padding-bottom: 1rem;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

/* THIS IS BREAKPOINTS FOR TABLET AND DESKTOP */

@media screen and (min-width: var.$bp-desktop) {

  .events__popular-list,
  .events__upcoming-list {
    justify-content: center;
    overflow-x: visible;
    gap: 2.5rem;
  }

  .event-card {
    flex: 1 1 320px;
    max-width: 320px;
  }

  .events__moreBtn {
    margin: 1rem auto 0;
  }

}