<!DOCTYPE html>
<html lang="::lang::" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>::page-title::</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="::page-description::" />

  <!-- OG data -->
  <meta property="og:title" content="::og-title::">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Kino">
  <meta property="og:description" content="::og-description::">
  <meta property="og:locale" content="::og-locale::">
  <meta property="og:url" content="::og-url::">
  <meta property="og:image" content="::og-image::">
  <meta property="og:image:alt" content="::og-image-alt::">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="src/styles/main.css">
  <script type="module" src="./src/scripts/main.js"></script>
</head>

<body>
  <header class="header">
    <div class="header__content">
      <a href="./index.html">
        <img class="header__img" src="src/pics/KINO-logo.png" alt="Logo" />
      </a>
      <button class="header__hamburger-menu" aria-label="Open menu">
        <span></span><span></span><span></span>
      </button>
      <nav class="header__nav">
        <ul class="header__menu-list">
          //header-menu//
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
    ::page::
  </main>

  <footer class="footer">
    <section class="footer__submenu-section">
      <ul class="footer__submenu-list">
        //footer-menu//
      </ul>
    </section>
  </footer>
</body>
</html>
